#message{
  color: red;
  font-size: 13pt;
  font-style: italic;
  font-weight: bold;
}

.download, #editbtn, .info{
  border: white;
  background-color: white;
  color: rgb(51, 122, 183);
}

.delete{
  border: white;
  background-color: white;
  color: red;
}

.download:hover, #editbtn:hover, .info:hover{
  background-color: rgb(51, 122, 183);
  color: white;
}

.delete:hover{
  background-color: red;
  color: white;
}

#addexm, #addnm, #adds{
  background-color: white;
  color: black;
  margin: 10pt 0pt 10pt 20pt;
}

#generate{
  background-color: white;
  color: black;
  margin: 0pt 40pt 50pt 20pt;
  font-weight: bold;
  float:right;
}

#generate:hover{
  background-color: green;
  color: white;
}

#addexm:hover, #addnm:hover, #adds:hover{
  background-color: rgb(51, 122, 183);
  color: white;
}

#adds{
  margin-top: 20pt;
}

fieldset{
  margin-top: 10pt;
  margin-bottom: 10pt;
  border-bottom: 1pt solid black;
  clear: both;
}

legend {
  font-size: 1.3em;
}

#newcontroller{
  clear: both;
}

#sensors button{
  background-color: white;
  border: white;
  color: red;
  float: right;
  font-size: 13pt;
  margin-bottom: 1pt;
}

#sensors button:hover{
  background-color: red;
  color: white;
}

#existingcontroller button, #changecontroller1, #changecontroller2{
  background-color: white;
  border: white;
  color: rgb(51, 122, 183);
  width: auto;
  float: right;
  font-size: 13pt;
  margin-bottom: 1pt;
}

#existingcontroller button:hover, #changecontroller1:hover, #changecontroller2:hover{
  background-color: rgb(51, 122, 183);
  color: white;
}

p[id*="message_"]{
  color: red;
  font-size: 13pt;
  font-weight: bold;
  font-style: italic;
}

#savecontroller{
  background-color: white;
  border: white;
  color: rgb(51, 122, 183);
  width: auto;
  float: left;
  font-size: 13pt;
  margin-bottom: 1pt;
}

#savecontroller:hover{
  background-color: rgb(51, 122, 183);
  color: white;
}

#ssid{
  clear: both;
}
