<link href="../code_generator/style.css" rel="stylesheet">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="mynetwork" style="height: 430px"></div>
           <!--  <pre id="eventSpan"></pre> -->
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" style="height:45px"><h5 id="emailLbl">Email: <span id="emailPr"></span></h5>
                </li>
                <li class="list-group-item" style="height:45px"><h5 id="usernameLbl">Username: <span
                        id="usernamePr"></span></h5></li>
                <li class="list-group-item" style="height:45px"><h5 id="userTypeLbl">User Type: <span
                        id="userTypePr"></span></h5></li>
            </ul>
            <div class="panel panel-default" id="controller">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-lg btn-success btn-block" id="addController"
                                style="height:35px">Add Controller Via Map
                        </button>
                    </div>
                </div>
            </div>
        </div>

      <div class="panel panel-default">
            <div class="panel-body">
              <table class="table">
                <tbody>
                  <tr>
                    <td style="font-size:12pt;">Controllers:</td>
                    <td id="nControllers" style="font-size:12pt;"></td>
                    <td><button type="button" class="btn btn-primary info" data-toggle='modal' data-target='#controllersInfo'>
                    <span class="glyphicon glyphicon-info-sign"></span> Info</button></td>
                    <td><button type="button" class="btn btn-primary info" onclick="showAddControllerModal()">
                    <span class="glyphicon glyphicon-plus"></span> Add</button></td>
                  </tr>
                  <tr>
                    <td style="font-size:12pt;">Sensors:</td>
                    <td id="nSensors" style="font-size:12pt;"></td>
                    <td><button type="button" class="btn btn-primary info" data-toggle='modal' data-target='#sensorsInfo'>
                    <span class="glyphicon glyphicon-info-sign"></span> Info</button></td>
                    <td><button type="button" class="btn btn-primary info" onclick="showAddSensorModal()">
                    <span class="glyphicon glyphicon-plus"></span> Add</button></td>
                  </tr>
                  <tr>
                    <td style="font-size:12pt;">Files:</td>
                    <td id="nFiles" style="font-size:12pt;"></td>
                    <td><button type="button" class="btn btn-primary info" onclick="location.href='../pages/myFiles.php';">
                    <span class="glyphicon glyphicon-info-sign"></span> Info</button></td>
                    <td><button type="button" class="btn btn-primary info" onclick="location.href='../pages/code_generator.php';">
                    <span class="glyphicon glyphicon-plus"></span> Add</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="controllersMap" style="height: 190px">

            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="controllersInfo" tabindex="-1" role="dialog" aria-labelledby="title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">My Controllers</h4>
      </div>
      <div id="conmes" style="color:red; font-style:italic; font-weight: bold; font-size:12pt; text-align: center;">&nbsp;</div>
      <div class="modal-body" style="max-height: 250pt; overflow-y: scroll;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Number of Sensors</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="con-body">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sensorsInfo" tabindex="-1" role="dialog" aria-labelledby="title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">My Sensors</h4>
      </div>
      <div id="senmes" style="color:red; font-style:italic; font-weight: bold; font-size:12pt; text-align: center;">&nbsp;</div>
      <div class="modal-body" style="max-height: 250pt; overflow-y: scroll;">
        <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Controller Name</th>
            <th scope="col">Controller Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="sen-body">
        </tbody>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addConModal" tabindex="-1" role="dialog" aria-labelledby="title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Controller</h4>
      </div>
      <div id="addconmes" style="color:red; font-style:italic; font-weight: bold; font-size:12pt; text-align: center;"></div>
      <div class="modal-body">
        <div class="form-group col-md-6">
          <label>Controller Type</label>
          <select class="form-control" id="conType">
            <option value="-1" selected>Choose micro-controller type...</option>
            <option value="Arduino">Arduino</option>
            <option value="Raspberry Pi">Raspberry Pi</option>
            <option value="Beaglebone Black">Beaglebone Black</option>
            <option value="Intel Galileo">Intel Galileo</option>
          </select>
        </div>
      <div class="form-group form-group col-md-6">
        <label>Controller Name</label>
        <input type="text" class="form-control" placeholder="Enter micro-controller name" id="conName">
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveController()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addSenModal" tabindex="-1" role="dialog" aria-labelledby="title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Sensor</h4>
      </div>
      <div id="addsenmes" style="color:red; font-style:italic; font-weight: bold; font-size:12pt; text-align:center;"></div>
      <div class="modal-body">

        <div class="form-group col-md-6">
          <label>Controller</label>
          <select class="form-control" id="excon" onchange="selectController(this)">
          </select>
        </div>

        <div class="form-group col-md-6">
          <label>Sensor Type</label>
          <select class="form-control" id="senType">
            <option value="-1" selected>Choose micro-controller first</option>
          </select>
        </div>

      <div class="form-group form-group col-md-6">
        <label>Sensor Name</label>
        <input type="text" class="form-control" placeholder="Enter sensor name" id="senName">
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveSensor()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="sensors-modal" tabindex="-1" role="dialog"
     aria-labelledby="showSensorsLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="controller-name-modal"></span>Sensors</h4>
            </div>
            <div class="modal-body">
                <table id="sensors-table" class="display" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sensor Name</th>
                        <th>Sensor Type</th>
                        <th>Sensor Frequency</th>
                        <th>Last Measurement</th>
                        <th>Date and Time</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="add-controller-modal" tabindex="-1" role="dialog"
     aria-labelledby="addControllerLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="controller-name-modal"></span>Add Controller Via Map</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" placeholder="Microcontroller Name" name="microcontroller"
                           type="text" id="microcontroller">
                    <div>
                        <span class="label label-danger" id="errormessage"></span>
                    </div>
                </div>

                <div class="panel panel-default" id="mapClass">
                    <div class="panel-body">
                        <div id="locationController" style="height:600px;width:800px"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save-controller" class="btn btn-primary">Save Controller</button>
            </div>

        </div>
    </div>
</div>

<script>

var token = localStorage.getItem("token");

function deleteController(id1, id2){
  document.getElementById('conmes').innerHTML = "";
  swal({
    title: "Delete this controller?",
    type: "warning",
    showCancelButton: true,
    confirmButtonClass: "btn-danger",
    confirmButtonText: "Delete",
    confirmButtonColor: '#ff0000',
    closeOnConfirm: true
  },
  function() {
      var path = '../delete/delete_controller.php';
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var result = JSON.parse(this.responseText);
          if (result.status=="success"){
            var row = document.getElementById("conrow" + id2);
            row.parentNode.removeChild(row);
            var num = document.getElementById('nCon').innerHTML;
            num--;
            document.getElementById('nCon').innerHTML = num;
          }
          else{
            document.getElementById('conmes').innerHTML=result.message;
          }
        }
      };
      xhttp.open("POST", path, true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("token=" + token + "&id=" + id1);
  });
}

function deleteSensor(id1, id2){
  document.getElementById('senmes').innerHTML = "";
  swal({
    title: "Delete this sensor?",
    type: "warning",
    showCancelButton: true,
    confirmButtonClass: "btn-danger",
    confirmButtonText: "Delete",
    confirmButtonColor: '#ff0000',
    closeOnConfirm: true
  },
  function() {
      var path = '../delete/delete_sensor.php';
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var result = JSON.parse(this.responseText);
          if (result.status=="success"){
            var row = document.getElementById("senrow" + id2);
            row.parentNode.removeChild(row);
            var num = document.getElementById('nSen').innerHTML;
            num--;
            document.getElementById('nSen').innerHTML = num;
          }
          else{
            document.getElementById('senmes').innerHTML=result.message;
          }
        }
      };
      xhttp.open("POST", path, true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("token=" + token + "&id=" + id1);
  });
}

function fillControllersModal(){
  var path = '../retrieve/controllersOfUser.php';
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var result = JSON.parse(this.responseText);
      if (result.status=="success"){
        $("#nControllers").html("<span id='nCon'>"+ result.controllers.length +"</span>");
        var table = "";
        for (var i=0; i<result.controllers.length; i++){
          table += '<tr id="conrow'+ i +'">\
              <td>'+ result.controllers[i].controllerName +'</td>\
              <td>'+ result.controllers[i].controllerType +'</td>\
              <td>'+ result.controllers[i].numSensors +'</td>';
              if (result.controllers[i].numSensors=="0"){
                table += '<td><button type="button" class="btn btn-default delete" onclick="deleteController('+ result.controllers[i].controllerID +', '+ i +
                ')"><span class="glyphicon glyphicon-trash"></span></button></td></tr>';
              }
              else{
                table += '<td><button type="button" class="btn btn-default" disabled data-toggle="tooltip" data-placement="right" title="There are sensors attached on this controller."><span class="glyphicon glyphicon-trash"></span></button></td></tr>';
              }
        }
        $("#con-body").html(table);
      }
    }
  };
  xhttp.open("POST", path, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("token=" + token);
}

function fillSensorsModal(){
  var path = '../retrieve/sensorsOfUser.php';
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var result = JSON.parse(this.responseText);
      if (result.status=="success"){
        $("#nSensors").html("<span id='nSen'>"+ result.sensors.length +"</span>");
        var table = "";
        for (var i=0; i<result.sensors.length; i++){
          table += '<tr id="senrow'+ i +'">\
              <td>'+ result.sensors[i].sensorName +'</td>\
              <td>'+ result.sensors[i].sensorType +'</td>\
              <td>'+ result.sensors[i].controllerName +'</td>\
              <td>'+ result.sensors[i].controllerType +'</td>';
            if (result.sensors[i].inFile=="0"){
              table += '<td><button type="button" class="btn btn-default delete" onclick="deleteSensor('+ result.sensors[i].sensorID +', '+ i +')"><span class="glyphicon glyphicon-trash"></span></button></td></tr>';
            }
            else{
              table += '<td><button type="button" class="btn btn-default" disabled data-toggle="tooltip" data-placement="right" title="This sensor is being used in a file."><span class="glyphicon glyphicon-trash"></span></button></td></tr>';
            }
        }
        $("#sen-body").html(table);
      }
    }
  };
  xhttp.open("POST", path, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("token=" + token);
}

function fillFilesLabel(){
  var path = '../retrieve/filesOfUser.php';
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var result = JSON.parse(this.responseText);
      if (result.status=="success"){
        $("#nFiles").html("<span id='nSen'>"+ result.files.length +"</span>");
      }
    }
  };
  xhttp.open("POST", path, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("token=" + token);
}

function saveController(){
  var mes = document.getElementById('addconmes');
  var type = document.getElementById('conType').value;
  var name = document.getElementById('conName').value;
  if (type==-1){
    mes.innerHTML="Select micro-controller type.";
    return;
  }
  if (name==""){
    mes.innerHTML="Give micro-controller name.";
    return;
  }
  for (var i=0; i<name.length; i++){
    var c = name.charAt(i);
    if ((c<'a' || c>'z') && (c<'A' || c>'Z') && (c<'0' || c>'9') && (c!='-') && (c!='_')){
      mes.innerHTML="Not valid micro-controller name. (Use only letters and numbers)" ;
      return;
    }
  }
  var path = '../upload/upload_controller.php';
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var result = JSON.parse(this.responseText);
      var message = result.message;
      if (result.status=="fail"){
        mes.innerHTML = message;
      }
      else{
        mes.innerHTML="";
        $("#addConModal").modal('hide');
        swal("Saved!", "Controller saved successfully", "success");
        fillControllersModal();
      }
    }
  };
  xhttp.open("POST", path, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("token=" + token + "&controller=" + name +"&type=" + type);
}

function saveSensor(){
  var p = document.getElementById('excon').value;
  var tokens = p.split(";");
  var controller = tokens[0];
  var mes = document.getElementById('addsenmes');
  var t = document.getElementById('senType').value;
  tokens = t.split("-");
  var property = tokens[0];
  var type = tokens[1];
  var name = document.getElementById('senName').value;
  if (t=="-1"){
    mes.innerHTML="Select sensor type.";
    return;
  }
  if (name==""){
    mes.innerHTML="Give sensor name.";
    return;
  }
  for (var i=0; i<name.length; i++){
    var c = name.charAt(i);
    if ((c<'a' || c>'z') && (c<'A' || c>'Z') && (c<'0' || c>'9') && (c!='-') && (c!='_')){
      mes.innerHTML="Not valid sensor name. (Use only letters and numbers)" ;
      return;
    }
  }
  var path = '../upload/upload_sensor.php';
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var result = JSON.parse(this.responseText);
    var message = result.message;
    if (result.status=="fail"){
      mes.innerHTML = message;
    }
    else{
      mes.innerHTML="";
      $("#addSenModal").modal('hide');
      swal("Saved!", "Sensor saved successfully", "success");
      fillSensorsModal();
    }
    }
  };
  xhttp.open("POST", path, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("token=" + token + "&sensorName=" + name + "&property=" + property + "&controller=" + controller + "&type=" + type);
}

function prepareAddSensorModal(){
  document.getElementById('senName').value = "";
  document.getElementById('senType').value = "-1";
  document.getElementById('addsenmes').innerHTML="";
  var path = '../retrieve/controllersOfUser.php';
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
    var result = JSON.parse(this.responseText);
      var con = result.controllers;
      var droplist = document.getElementById('excon');
      droplist.innerHTML = '<option value="-1" selected>Choose micro-controller...</option>';
      for (var i=0; i<con.length; i++){
        var option = document.createElement("option");
        option.text = con[i].controllerName;
        option.setAttribute("value", con[i].controllerID + ';' + con[i].controllerName + ';' + con[i].controllerType);
        droplist.add(option);
      }
    }
  };
  xhttp.open("POST", path, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("token=" + token);
}

function selectController(p){
  var droplist = document.getElementById('senType');
  if (p.value=="-1"){
    droplist.innerHTML = '<option value="-1" selected>Choose micro-controller first</option>';
    return;
  }
  var tokens = p.value.split(";");
  var selController = tokens[2];
  var arduino_sensors = {
    type: ["Motion (PIR)", "Temperature (DS18B20)", "Humidity (FC28)", "Light (LDR)", "Sound (digital)", "Sound (analog)"],
    id: ["5", "4", "1", "2", "3", "3"]
  }
  var raspberry_sensors = {
    type: ["Motion (PIR)", "Temperature (DS18B20)", "Humidity (FC28)", "Light (LDR)", "Sound (digital)"],
    id: ["5", "4", "1", "2", "3"]
  }
  var beaglebone_sensors = {
    type: ["Motion (PIR)", "Temperature (TMP36)", "Humidity (FC28)", "Light (LDR)", "Sound (digital)", "Sound (analog)"],
    id: ["5", "4", "1", "2", "3", "3"]
  }
  var intelgalileo_sensors = {
    type: ["Motion (PIR)", "Temperature (TMP36)", "Humidity (FC28)", "Light (LDR)", "Sound (digital)", "Sound (analog)"],
    id: ["5", "4", "1", "2", "3", "3"]
  }
  var sen = "";
  if (selController=="Arduino"){
    for (var i=0; i<arduino_sensors.type.length; i++){
      sen += '<option value="' + arduino_sensors.id[i] + '-' + arduino_sensors.type[i] + '">' + arduino_sensors.type[i] + '</option>';
    }
  }
  else if (selController=="Raspberry Pi"){
    for (var i=0; i<raspberry_sensors.type.length; i++){
      sen += '<option value="' + raspberry_sensors.id[i] + '-' + raspberry_sensors.type[i] + '">' + raspberry_sensors.type[i] + '</option>';
    }
  }
  else if (selController=="Beaglebone Black"){
    for (var i=0; i<beaglebone_sensors.type.length; i++){
      sen += '<option value="' + beaglebone_sensors.id[i] + '-' + beaglebone_sensors.type[i] + '">' + beaglebone_sensors.type[i] + '</option>';
    }
  }
  else if (selController=="Intel Galileo"){
    for (var i=0; i<intelgalileo_sensors.type.length; i++){
      sen += '<option value="' + intelgalileo_sensors.id[i] + '-' + intelgalileo_sensors.type[i] + '">' + intelgalileo_sensors.type[i] + '</option>';
    }
  }
  sen = '<option value="-1" selected>Choose sensor type...</option>' + sen;
  droplist.innerHTML = sen;
}

function showAddControllerModal(){
  document.getElementById('conName').value = "";
  document.getElementById('conType').value = "-1";
  document.getElementById('addconmes').innerHTML="";
  $("#addConModal").modal("show");
}

function showAddSensorModal(){
  prepareAddSensorModal();
  $("#addSenModal").modal("show");
}

fillControllersModal();
fillSensorsModal();
fillFilesLabel();

</script>
