<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit/Delete Rule</h1>
    </div>
</div>
<br>
<div class="row">
    <table id="edit-rules-table" class="display" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th></th>
            <th>Description</th>
        </tr>
        </thead>
    </table>
</div>
<div id="exampleModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Rule</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<br>
<div class="row dropdown">
    <div class="col-lg-3 col-sm-2">
        <label for="sensor-controllers">Select Sensor Controller:</label>
        <select id="sensor-controllers" class="form-control">

        </select>
    </div>
    <div class="col-lg-3 col-sm-2">
        <label for="actuator-controllers">Select Actuator Controller:</label>
        <select id="actuator-controllers" class="form-control">

        </select>

    </div>

</div>
<br>
<button type="button" class="save-changes-btn btn btn-primary" disabled="disabled">Save changes</button>
<br>
<div class="row" id="editblockly" style="height: 600px; width: 100%;"></div>
<xml id="edittoolbox" style="display: none;">
    <category name="Logic">
        <block type="control_when"></block>
        <block type="when_else"></block>
        <block type="my_logic_compare"></block>
        <block type="logic_operation"></block>
    </category>
    <category name="Sensors/Actuators">
        <block type="execution"></block>
        <block type="sensor"></block>
    </category>
    <category name="Device commands">
        <block type="device_state"></block>
    </category>
</xml>
<br>
