<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Facebook ML</h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body" maximum-height="350px">
                <div id="fb">
                    <div class="row">
                        <div id="fb-root">
                            <div id="fbLogin" style="display:none" align="center">
                                <a href="#" onclick="clickFB()">
                                    <img src="../H5CM/trunk/assets/images/facebook-login.png" alt="HTML tutorial" width="200" height="30" align="center">
                                </a>
                            </div>

                            <div id="fbLogout" style="display:none" align="right">

                                <a href="http://www.cs.ucy.ac.cy/~sconst05/epl435/H5CM/trunk/ContextAwareApplication.html"
                                   onclick="FacebookLogout('http://www.cs.ucy.ac.cy/~sconst05/epl435/H5CM/trunk/ContextAwareApplication.html');">
                                    <img src="../H5CM/trunk/assets/images/fbLogout.png" alt="HTML tutorial" width="75" height="22" align="center">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loading">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-9">
                            <label>It may take a few minutes to create the model. Please wait...</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-2">
                            <button class="btn btn-lg btn-success" disabled><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
                        </div>
                    </div>
                </div>
                <div id="ML">
                    <div class="row">
                        <div class="col-lg-12" id="personChart"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="MLSimple"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-2">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownLocations" data-toggle="dropdown" aria-expanded="true">
                                    Select Location<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLocation" id="locations"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
</div>