<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add Rule</h1>
    </div>
</div>
<div class="row dropdown">
    <div class="col-lg-3 col-sm-2">
        <label for="sensor-controllers">Select Sensor Controller:</label>
        <select id="sensor-controllers" class="form-control">

        </select>
    </div>
    <div class="col-lg-3 col-sm-2">
        <label for="actuator-controllers">Select Actuator Controller:</label>
        <select id="actuator-controllers" class="form-control">

        </select>

    </div>

</div>
<br>
<a id="add-rule-btn" class="btn btn-primary" href="#">Add Rule</a>
<br>
<div class="row">
    <div class="row" id="blocklyDiv" style="height: 600px; width: 100%;"></div>

    <xml id="toolbox" style="display: none">
        <category name="Logic">
            <block type="control_when"></block>
            <block type="when_else"></block>
            <block type="my_logic_compare"></block>
            <block type="logic_operation"></block>
        </category>
        <category name="Sensors/Actuators">
            <block type="execution"></block>
            <block type="sensor"></block>
        </category>
        <category name="Device commands">
            <block type="device_state"></block>
        </category>
    </xml>

</div>