<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Helpful Rule Examples</h1>
    </div>
</div>
<div class="row">
    <h2>Making a simple rule:</h2>
    <hr>
    <br>

    <div class="row">
        <video width="600" controls>
            <source src="../videos/simple_rule.mp4" type="video/mp4">
        </video>
    </div>
    <br>
    <br>

    <h2>Making a more complicated rule:</h2>
    <hr>
    <br>

    <div class="row">
        <video width="600" controls>
            <source src="../videos/complicated_rule.mp4" type="video/mp4">
        </video>
    </div>
</div>