<div class="row" id="editblockly" style="height: 300px; width: 100%;"></div>
<xml id="edittoolbox" style="display: none;">
    <category name="Logic">
        <block type="control_when"></block>
        <block type="when_else"></block>
        <block type="my_logic_compare"></block>
        <block type="logic_operation"></block>
    </category>
    <category name="Sensors/Actuators">
        <block type="execution"></block>
        <block type="sensor"></block>
    </category>
    <category name="Sensor/Actuator cvalues">
        <block type="math_number"></block>
        <block type="actuator_state"></block>
        <block type="digital_value"></block>
    </category>
</xml>
