<div class="modal fade bs-example-modal-lg" id="add-controller-modal" tabindex="-1" role="dialog"
     aria-labelledby="addControllerLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="controller-name-modal"></span>Add Controller</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" placeholder="Microcontroller Name" name="microcontroller"
                           type="text" id="microcontroller">
                    <div>
                        <span class="label label-danger" id="errormessage"></span>
                    </div>
                </div>

                <div class="panel panel-default" id="mapClass">
                    <div class="panel-body">
                        <div id="locationController" style="height:600px;width:800px"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save-controller" class="btn btn-primary">Save Controller</button>
            </div>

        </div>
    </div>
</div>