<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sound Chart</h1>
    </div>
</div>
<!-- /.col-lg-12 -->
<!-- /.row -->
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body" maximum-height="400px">
                <div id="loading">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-9">
                            <label>It may take a few minutes to create the model. Please wait...</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-2">
                            <button class="btn btn-lg btn-success" disabled><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
                        </div>
                    </div>
                </div>
                <div id="chart">
                    <div class="row">
                        <div class="col-lg-12" id="soundChart"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-2">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownSensors" data-toggle="dropdown" aria-expanded="true">
                                    Select Sensor<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuSensors" id="sensors"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <!-- /.panel-body -->
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>